.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}
.result {
    text-align: center;
    border: 1px solid red;
}
.result__text-correct {
    color: #ff0000;
}
.result__text-incorrect {
    color: #0000ff;
}
.answer-table {
    border: 1px solid #ddd;
}
.answer-table__inner {
    width: 100%;
}
.answer-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: #ddd 1px solid;
    background: #eee;
    font-weight: bold;
    text-align: center;
}
.answer-table__text {
    padding: 15px;
    border-bottom: #ddd 1px solid;
}
.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0; 
    //この記載のソースどこ？.answer-table__row .answer-table__header:last-child{}では？
}
